.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, Helvetica, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: rgb(135, 135, 135);
}

.Weather h1 {
  color: #878787;
  margin: 20px 10px 10px;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  
}

.Weather ul {
  margin: 10px;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  height: 65px;
  width: 65px;
  padding: 0;
  margin-top: 10px;
  display: inline-block;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
  padding: 0;
  text-shadow: 0.01px 1px 2px rgb(127, 127, 127);
  display: inline-block;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
}
